.listpage {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: auto;

  &__up {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0 40px;
    align-items: center;

    &-title {
      color: #696969;
      font-size: 2.5rem;
      margin: 0;
    }
    &-btn {
      background: transparent;
      border: 1px solid #04914b;
      font-size: 2rem;
      padding: 10px;
      color: #04914b;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}